.profile {
    table {
        width: 100%;
        background-color: #f1f2f6;
        th {
            text-align: right;
        }
    }
}

.account {
    table {
        width: 100%;
        background-color: #f1f2f6;
    }
}

.table-label {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #30336b;
    color: #ffffff;
}