<div class="home-box">
    <div class="name">
        Danh sách lớp học
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Lớp học</th>
                <th>Thời gian học</th>
                <th>Phòng học</th>
                <th>Ngày khai giảng</th>
                <th class="text-center">#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lh of dsLopHoc; let i = index">
                <td>{{i+1}}</td>
                <td>
                    {{lh.LH_Id}} - {{lh.LDT_Ten}}
                </td>
                <td>{{lh.LH_NgayHoc}} <br> {{lh.LH_GioBatDau}}-{{lh.LH_GioKetThuc}}</td>
                <td>{{lh.PH_Ten}}</td>
                <td>{{lh.LH_NgayKhaiGiang | date: 'dd-MM-yyyy'}}</td>
                <td>
                    <a mat-raised-button color="primary" [routerLink]="[lh.LH_Id]">Chi tiết</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>