<div class="educate-box">
    <div class="heading">
        <button mat-raised-button color="primary" (click)="addEducate()">
            <mat-icon>add_circle</mat-icon> Thêm mới
        </button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Price</th>
                <th>CreateDate</th>
                <th>UpdateDate</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>