.search-box {
    mat-form-field {
        margin-top: 20px;
        width: 600px;
        font-size: 14px;
    }
}

.mat-toolbar{
    background-color: #ffffff;
}

.spacer{
    width: 5%;
}

table{
    width: 100%;
}