<div class="class-box">
    <mat-toolbar>
        <button mat-raised-button color="primary" (click)="addClick()">
            <mat-icon>person_add</mat-icon>
            Thêm
        </button>
        <div class="spacer"></div>
        <div class="search-box">
            <mat-form-field appearance="outline">
                <mat-label>Tìm kiếm</mat-label>
                <input type="text" matInput autocomplete="off">
            </mat-form-field>
        </div>
    </mat-toolbar>
    <mat-tab-group>
        <mat-tab label="Đang mở">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>
                        STT
                    </th>
                    <td mat-cell *matCellDef="let i = index">
                        {{ i+1 }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>
                        Mã Lớp
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.LH_Id }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="tenlop">
                    <th mat-header-cell *matHeaderCellDef>
                        Tên Lớp
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.LDT_Ten }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="ngaykhaigiang">
                    <th mat-header-cell *matHeaderCellDef>
                        Khai Giảng
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.LH_NgayKhaiGiang | date: 'dd-MM-yyyy' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="thoigianhoc">
                    <th mat-header-cell *matHeaderCellDef>
                        Thời Gian Học
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.LH_NgayHoc }} &nbsp; {{ element.LH_GioBatDau }}-{{ element.LH_GioKetThuc }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="soluong">
                    <th mat-header-cell *matHeaderCellDef>
                        Số Lượng
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.LH_SiSo }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="phonghoc">
                    <th mat-header-cell *matHeaderCellDef>
                        Phòng Học
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.PH_Ten }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="giaovien">
                    <th mat-header-cell *matHeaderCellDef>
                        Giảng Dạy
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.GV_HoTen }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                        #
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu"
                            aria-label="Example icon-button with a menu">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="infoClick(element.LH_Id)">
                                <mat-icon>infomation</mat-icon>
                                <span>Chi tiết</span>
                            </button>
                            <button mat-menu-item (click)="editClick(element.LH_Id)">
                                <mat-icon>edit</mat-icon>
                                <span>Sửa</span>
                            </button>
                            <button mat-menu-item (click)="completeClick(element.LH_Id)">
                                <mat-icon>check_circle</mat-icon>
                                <span>Hoàn thành</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[1, 10, 20, 30, 40, 50]"
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </mat-tab>
        <mat-tab label="Hoàn thành">
        </mat-tab>
    </mat-tab-group>
</div>