.login-box {
    position: fixed;
    top: 20%;
    left: 40%;
    h2 {
        padding: 20px;
        text-align: center;
        background-color: #192a56;
        color: #ffffff;
    }
    z-index: 1000 !important;
    background-color: #ffffff;
    width: 320px;
    height: 50%;
    border-radius: 5px;
    form {
        margin: 20px;
        mat-form-field{
            margin: 0;
        }
    }

    table{
        width: 100%;
    }
}

.code {
    background-color: #b2bec3;
    color: #000000;
    font-size: 20px;
    width: 120px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
