.login-box {
    position: fixed;
    top: 20%;
    left: 40%;
    h2 {
        padding: 20px;
        text-align: center;
        background-color: #192a56;
        color: #ffffff;
    }
    z-index: 1000 !important;
    background-color: #ffffff;
    width: 20%;
    height: 45%;
    border-radius: 5px;
    form {
        margin: 20px;
    }
}

.code {
    background-color: #b2bec3;
    color: #000000;
    padding: 10px 15px;
    font-size: 20px;
    text-decoration: wavy;
    font-family: 'Courier New', Courier, monospace;
}
