.login-box{
    margin: 10px;
    width: 250px;
    background-color: #ffffff;
    form{
        padding: 12px;
    }
    h2{
        padding: 10px;
        background-color: #30336b;;
        color: #ffffff;
        margin: 0;
    }
}