<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button>
            <mat-icon (click)="toggleSidebar();">menu</mat-icon>
            &nbsp; Trang Quản Trị Hệ Thống
        </button>

        <div class="mr-2 ml-auto">
            <button mat-button [matMenuTriggerFor]="menu" class="user">
                <img src="./../../../assets/images/user.png" alt="" class="user-image mr-1 p-2" />
                Admin
                <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu" yPosition="below">
                <button mat-menu-item style="color: #000000;">
                    <mat-icon>exit_to_app</mat-icon> Logout
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>