<mat-toolbar>
    <div class="logo">
        <img src="../../../assets/images/logo.png" alt="logo" width="50px">
        TRUNG TÂM ĐIỆN TỬ TIN HỌC
    </div>
    <div class="spacer"></div>
    <a mat-button routerLink="lop-hoc">
        Trang chủ
    </a>

    <button mat-button [matMenuTriggerFor]="menu">
        <img [src]="imageUrl" alt="Ảnh đại diện" width="40px" height="40px" style="border-radius: 50%;">
        &nbsp; {{loginUser?.GV_HoTen}} &nbsp;
        <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logoutClick()">
            <mat-icon>logout</mat-icon> Đăng xuất
        </button>
    </mat-menu>
</mat-toolbar>