.container {
    background-color: #ffffff;
    padding: 10px;
}

.title {
    background-color: #30336b;
    padding: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.body{
    height: 420px;
    padding: 10px 50px 50px 50px;
}

table{
    td{
        height: 60px;
        font-size: 16px;
        vertical-align: middle;
    }
}

.note{
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 30px;
    font-size: 14px;
}
