.mat-toolbar{
    height: 55px;
    background-color: #021420;
    color: #ffffff;
    a{
        margin: 5px;
        color: #ffffff;
        text-decoration: none;
    }

    button{
        margin: 5px;
    }
}

.spacer{
    flex: 1 1 auto;
}

a:hover{
    text-decoration: none;
}
