<mat-toolbar>
    <div class="spacer"></div>
    <a mat-button routerLink="trang-chu">
        Trang chủ
    </a>
    <a mat-button routerLink="gioi-thieu" routerLinkActive="router-link-active">Giới Thiệu</a>
    <a mat-button routerLink="chieu-sinh" routerLinkActive="router-link-active">Chiêu Sinh</a>
    <a mat-button [matMenuTriggerFor]="menuGiaoVu">Giáo Vụ</a>
    <a mat-button routerLink="lien-he" routerLinkActive="router-link-active">Liên Hệ</a>
    <span *ngIf="!isLogin">
        <a mat-raised-button color="warn" (click)="showLogin();">Đăng nhập</a>
        <a mat-raised-button color="warn" routerLink="dang-ky">Đăng ký</a>
    </span>

    <button *ngIf="isLogin" mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        &nbsp; {{data?.TK_HoTen}} &nbsp;
        <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a routerLink="ca-nhan" routerLinkActive="router-link-active" mat-menu-item>
            <mat-icon>person</mat-icon> Trang cá nhân
        </a>
        <button (click)="logOut()" mat-menu-item>
            <mat-icon>logout</mat-icon> Đăng xuất
        </button>
    </mat-menu>
    <mat-menu #menuGiaoVu="matMenu">
        <button mat-menu-item routerLink="score" routerLinkActive="router-link-active">Tra cứu điểm thi</button>
        <button mat-menu-item routerLink="certificate" routerLinkActive="router-link-active">Tra cứu văn bằng</button>
        <button mat-menu-item routerLink="notification" routerLinkActive="router-link-active">Thông báo</button>
        <button mat-menu-item routerLink="rate" routerLinkActive="router-link-active">Đánh giá cuối khoá học</button>
    </mat-menu>
</mat-toolbar>