.date {
    padding: 10px;
    mat-form-field {
        margin-top: 15px;
        width: 220px;
        font-size: 14px;
    }
}

table {
    width: 100%;
}

.mat-toolbar {
    height: fit-content;
    background-color: #ffffff;
}
