table {
    width: 100%;
    td {
        vertical-align: middle;
    }
}
h2 {
    background-color: #192a56;
    margin: 0;
    padding: 10px;
    color: #ffffff;
}
form {
    width: 100%;
    background-color: #f5f6fa;
}
