.list-student {
    width: 1000px;
    table {
        width: 100%;
    }
}

.title {
    width: 100%;
    background-color: #192a56;
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
    margin: 0;
}
