.contact-info {
    background-color: #ffffff;
    form {
        padding: 15px;
    }
    table {
        padding: 15px;
    }
}

h2{
    width: 100%;
    background-color: #30336b;
    color: #ffffff;
    padding: 15px;
}

.help-block {
    font-size: 13px;
    color: red;
    font-style: italic;
}  