<div class="info-box">
    <h2>{{ data.title }}</h2>
    <div class="profile">
        <div class="table-label">
            Thông tin cá nhân
        </div>
        <table class="table table-striped">
            <tr>
                <th>Mã giáo viên :</th>
                <td colspan="5">{{teacher?.GV_Id}}</td>
            </tr>
            <tr>
                <th>Họ tên :</th>
                <td>{{teacher?.GV_HoTen}}</td>
                <th>Giới tính :</th>
                <td>{{(teacher?.GV_GioiTinh == 1)? 'Nam':'Nữ'}}</td>
            </tr>
            <tr>
                <th>Ngày sinh :</th>
                <td>{{teacher?.GV_NgaySinh | date:'dd-MM-yyyy'}}</td>
                <th>Trình độ :</th>
                <td>{{teacher?.GV_TrinhDo}}</td>
            </tr>
            <tr>
                <th>Email :</th>
                <td>{{teacher?.GV_Email}}</td>
                <th>Số điện thoại :</th>
                <td>{{teacher?.GV_Sdt}}</td>
            </tr>
            <tr>
                <th>Địa chỉ :</th>
                <td colspan="3">{{teacher?.GV_DiaChi}}</td>
            </tr>
            <tr>
                <th>Ngày tạo :</th>
                <td>{{teacher?.GV_CreateDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                <th>Ngày sửa đổi:</th>
                <td *ngIf="teacher?.GV_UpdateDate == '0000-00-00 00:00:00'"> Chưa sửa đổi </td>
                <td *ngIf="teacher?.GV_UpdateDate != '0000-00-00 00:00:00'">
                    {{teacher?.GV_UpdateDate | date: 'dd-MM-yyyy HH:mm:ss'}}
                </td>
            </tr>
        </table>
    </div>

    <div class="account">
        <div class="table-label">
            Tài khoản
        </div>
        <table class="table table-striped">
            <tr>
                <th>Tên đăng nhập :</th>
                <td>
                    {{teacher?.TK_TenDangNhap}}
                    <span *ngIf="teacher?.TK_XacThuc == 1" class="badge badge-success">
                        <i class="fa fa-check-circle"></i> Đã xác thực
                    </span>
                    <span *ngIf="teacher?.TK_XacThuc == 0" class="badge badge-warning">
                        <i class="fa fa-times-circle"></i> Chưa xác thực
                    </span>
                </td>
                <th>Trạng thái :</th>
                <td>
                    <span *ngIf="teacher?.TK_IsActive == 1" class="badge badge-success">Đang hoạt động</span>
                    <span *ngIf="teacher?.TK_IsActive == 0" class="badge badge-danger">Khoá</span>
                </td>
            </tr>
            <tr>
                <th>Ngày tạo: </th>
                <td>{{ teacher?.TK_CreateDate | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
                <th>Ngày sửa đổi: </th>
                <td *ngIf="teacher?.TK_UpdateDate == '0000-00-00 00:00:00'"> Chưa sửa đổi </td>
                <td *ngIf="teacher?.TK_UpdateDate != '0000-00-00 00:00:00'">
                    {{teacher?.TK_UpdateDate | date: 'dd-MM-yyyy HH:mm:ss' }}
                </td>
            </tr>
            <tr *ngIf="teacher?.TK_DeactivateDate != '0000-00-00 00:00:00'">
                <th>Ngày khoá: </th>
                <td colspan="3">
                    {{teacher?.TK_DeactivateDate | date: 'dd-MM-yyyy HH:mm:ss' }}
                </td>
            </tr>
        </table>
    </div>
    <div class="text-center">
        <button mat-stroked-button color="primary" (click)="editClick(teacher?.NV_Id)">Sửa thông tin</button>&nbsp;
        <span *ngIf="teacher?.TK_IsActive == 1">
            <button mat-stroked-button color="warn" (click)="lockAccount(teacher?.TK_TenDangNhap)">
                Khoá tài khoản
            </button>&nbsp;
            <button mat-stroked-button color="primary" (click)="resetPassword(teacher?.TK_TenDangNhap)">
                Đặt lại mật khẩu
            </button>
        </span>
        <button *ngIf="teacher?.TK_IsActive == 0" mat-icon-button color="primary"
            (click)="unlockAccount(teacher?.TK_TenDangNhap)">
            Mở khoá tài khoản
        </button>&nbsp;
        <button mat-stroked-button (click)="closeClick()">Đóng</button>
    </div>
</div>