<h2 mat-dialog-title> Chương trình đào tạo</h2>
<mat-dialog-content>
    <form autocomplete="off">
        <mat-form-field appearance="fill">
            <mat-label>Tên chương trình</mat-label>
            <input type="text" matInput>
        </mat-form-field> &nbsp;
        <mat-form-field appearance="fill">
            <mat-label>Số giờ học</mat-label>
            <input type="number" matInput>
        </mat-form-field> &nbsp;
        <mat-form-field appearance="fill">
            <mat-label>Lệ phí</mat-label>
            <input type="number" matInput>
        </mat-form-field>
        <div class="text-center">
            <button mat-raised-button color="primary">Lưu</button> &nbsp;
            <button mat-raised-button>Nhập lại</button>
        </div>
    </form>
</mat-dialog-content>