<div class="footer">
    <table border="0" style="width: 100%;">
        <tr>
            <td>
                <div class="title">Trung Tâm Điện Tử & Tin Học - Khoa Công nghệ Thông tin & Truyền thông <br> Trường Đại
                    học Cần
                    Thơ</div>
                <span>
                    <i class="fa fa-map-marker"></i> &nbsp; Khu II, Trường Đại học Cần Thơ, 3/2, P.Xuân Khánh, Q.Ninh
                    Kiều,
                    TP.Cần Thơ
                </span><br>
                <span>
                    <i class="fa fa-phone"></i> &nbsp; 0292 37 35 898
                </span><br>
                <span>
                    <i class="fa fa-envelope"></i> &nbsp; ttdtth@ctu.edu.vn
                </span> <br>
                <h4>
                    &nbsp;&copy;CIT 2021
                </h4>
            </td>

            <td>
                <div class="title">Thường xuyên:</div>
                <ul>
                    <li>Khai giảng các lớp chứng chỉ ứng dụng CNTT cơ bản, nâng cao</li>
                    <li>Tổ chức thi chứng chỉ ứng dụng CNTT</li>
                    <li>Mở các lớp chuyên đề theo yêu cầu đặt hàng của địa phương</li>
                </ul>
            </td>

            <td>
                <div class="title">Liên hệ</div>
                <span class="contact ">
                    Fanpage : &nbsp;
                    <a href="https://www.facebook.com/trungtamdientuvatinhoc">
                        Trung tâm Điện Tử & Tin Học
                    </a>
                </span><br>

                <span class="contact">
                    Thầy
                    <a href="https://www.facebook.com/tan.tranminh.735">
                        Trần Minh Tân
                    </a> - Giám đốc Trung Tâm
                    <i class="fa fa-envelope"></i> &nbsp; <a href="mailto:tmtan@ctu.edu.vn">tmtan@ctu.edu.vn</a>
                </span><br>
                <span class="contact">
                    Cô Lê Ngọc Giàu -
                    &nbsp;
                    <i class="fa fa-envelope"></i> &nbsp; <a
                        href="mailto:lngiau@cit.ctu.edu.vn">lngiau@cit.ctu.edu.vn</a>
                </span><br>
                <span class="contact">
                    Cô Phan Thị Yến Nhi -
                    &nbsp;
                    <i class="fa fa-envelope"></i> &nbsp; <a
                        href="mailto:ptynhi@cit.ctu.edu.vn">ptynhi@cit.ctu.edu.vn</a>
                </span>
            </td>
        </tr>
    </table>
</div>