.footer {
    margin: 0;
    width: 100%;
    background-color: #021420;
    color: #ffffff;
    padding: 15px 15px ;
    h4{
        margin-bottom: 0;
    }

    span{
        font-size: 13px;
    }
    li{
        font-size: 13px;
        margin-bottom: 5px;
    }
    
}

.contact{
    a:hover{
        text-decoration: none;
    }
}

.title{
    font-size: 15px;
    margin-bottom: 5px;
}