<div class="footer">
    <table border="0" style="width: 100%; margin-bottom: 20px;">
        <tr>
            <td style="padding-left: 20px;">
                <ul style="list-style-type: none;">
                    <li style="font-size: 16px; text-transform: uppercase;">{{sys?.Ten}}</li>
                    <li><i class="fa fa-map-marker"></i> &nbsp;{{sys?.DiaChi}}</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;{{sys?.Sdt}}</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;{{sys?.Email}}</li>
                    <li><i class="fab fa-facebook-square"></i> &nbsp;
                        <a [href]="sys?.LinkFB" target="_blank">{{sys?.Ten}}</a>
                    </li>
                </ul>
            </td>
            <td>
                <div class="title">Thường xuyên:</div>
                <ul>
                    <li>Khai giảng các lớp chứng chỉ ứng dụng CNTT cơ bản, nâng cao</li>
                    <li>Tổ chức thi chứng chỉ ứng dụng CNTT</li>
                    <li>Mở các lớp chuyên đề theo yêu cầu đặt hàng của địa phương</li>
                </ul>
            </td>
        </tr>
    </table>
</div>