<div class="class-box">
    <mat-toolbar>
        <div class="spacer" style="width: 30px;"></div>
        <div class="search-box">
            <mat-form-field appearance="outline">
                <mat-label>Tìm kiếm</mat-label>
                <input type="text" matInput autocomplete="off" (keyup)="filterData($event);">
            </mat-form-field>
        </div>
    </mat-toolbar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef>
                STT
            </th>
            <td mat-cell *matCellDef="let i = index">
                {{ i+1 }}
            </td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>
                Mã Lớp
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.LH_Id }}
            </td>
        </ng-container>
        <ng-container matColumnDef="tenlop">
            <th mat-header-cell *matHeaderCellDef style="width: 25%;">
                Tên Lớp
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.LDT_Ten }}
            </td>
        </ng-container>
        <ng-container matColumnDef="ngaykhaigiang">
            <th mat-header-cell *matHeaderCellDef>
                Khai Giảng
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.LH_NgayKhaiGiang | date: 'dd-MM-yyyy' }}
            </td>
        </ng-container>
        <ng-container matColumnDef="thoigianhoc">
            <th mat-header-cell *matHeaderCellDef>
                Thời Gian Học
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.TG_Ten }}
            </td>
        </ng-container>
        <ng-container matColumnDef="soluong">
            <th mat-header-cell *matHeaderCellDef>
                Số Lượng
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.soluong}}/{{ element.LH_SiSo }}
            </td>
        </ng-container>
        <ng-container matColumnDef="phonghoc">
            <th mat-header-cell *matHeaderCellDef>
                Phòng Học
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.PH_Ten }}
            </td>
        </ng-container>

        <ng-container matColumnDef="giaovien">
            <th mat-header-cell *matHeaderCellDef>
                Giảng dạy
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.GV_HoTen }}
            </td>
        </ng-container>
    
        <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                #
            </th>
            <td mat-cell *matCellDef="let element" style="width: 3%;text-align: right;">
                <button mat-icon-button color="primary" [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="infoClick(element.LH_Id)">
                        <mat-icon>infomation</mat-icon>
                        <span>Chi tiết</span>
                    </button>
                    <button mat-menu-item color="primary" (click)="showListStudent(element.LH_Id)">
                        <mat-icon>folder_shared</mat-icon>
                        <span>Danh sách học viên</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSize]="10"></mat-paginator>
</div>