.content {
    width: 100%;
}

.text-center {
    width: 100%;
    text-align: center;
}

table{
    margin-top: 20px;
}

h1{
    font-weight: bold;
    font-size: 28px;
}

h4 {
    text-transform: uppercase;
    font-weight: bold;
}

.body {
    padding-left: 8%;
}

.spacer{
    flex: 1 1 auto;
}

