.profile-box {
    // background-color: #ffffff;
    height: 90% !important;
}

h2 {
    padding: 15px;
    font-size: 16px;
    background-color: #30336b;
    color: #ffffff;
    margin-bottom: 0;
}

.profile {
    margin: auto;
    width: 60%;
    background-color: #ffffff;
    table {
        width: 100%;
        th {
            text-align: right;
        }
        td {
            vertical-align: middle;
        }
    }
}
