<div class="teacher-box">
    <mat-toolbar>
        <button mat-raised-button color="primary" (click)="addClick()">
            <mat-icon>person_add</mat-icon>
            Thêm
        </button>
        <div class="spacer"></div>
        <div class="search-box">
            <mat-form-field appearance="outline">
                <mat-label>Tìm kiếm</mat-label>
                <input type="text" matInput autocomplete="off" (keyup)="filterData($event);">
            </mat-form-field>
        </div>
    </mat-toolbar>
    <div class="teacher-list">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef>
                    STT
                </th>
                <td mat-cell *matCellDef="let i = index">
                    {{ i+1 }}
                </td>
            </ng-container>

            <ng-container matColumnDef="taikhoan">
                <th mat-header-cell *matHeaderCellDef>
                    Tài Khoản
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.TK_TenDangNhap }}
                    <i title="Đang khoá" *ngIf="element.TK_IsActive==0" class="fa fa-lock" style="color: gray;"></i>
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>
                    Mã GV
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.GV_Id }}
                </td>
            </ng-container>

            <ng-container matColumnDef="hoten">
                <th mat-header-cell *matHeaderCellDef>
                    Họ Tên
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.GV_HoTen }}
                </td>
            </ng-container>

            <ng-container matColumnDef="gioitinh">
                <th mat-header-cell *matHeaderCellDef>
                    Giới Tính
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ (element.GV_GioiTinh ==1)? 'Nam':'Nữ' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="diachi">
                <th mat-header-cell *matHeaderCellDef style="width: 35%;">
                    Địa Chỉ
                </th>
                <td mat-cell *matCellDef="let element" style="width: 35%;">
                    {{ element.GV_DiaChi }}
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>
                    Email
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.GV_Email }}
                </td>
            </ng-container>

            <ng-container matColumnDef="sdt">
                <th mat-header-cell *matHeaderCellDef>
                    SĐT
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.GV_Sdt }}
                </td>
            </ng-container>

            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef style="width: 2%; text-align: center;">
                    #
                </th>
                <td mat-cell *matCellDef="let element" style="width: 2%; text-align: right;">
                    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu"
                        aria-label="Example icon-button with a menu">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="infoClick(element.GV_Id)">
                            <mat-icon>infomation</mat-icon>
                            <span>Chi tiết</span>
                        </button>
                        <button mat-menu-item (click)="editClick(element.GV_Id)">
                            <mat-icon>edit</mat-icon>
                            <span>Sửa</span>
                        </button>
                        <button mat-menu-item (click)="deleteClick(element.GV_Id)">
                            <mat-icon>delete</mat-icon>
                            <span>Xoá</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[ 10, 20, 30, 40, 50]"
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>