<div class="login-box">
    <h2>Đăng Nhập</h2>
    <form autocomplete="off" [formGroup]="loginForm">
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Tài khoản</mat-label>
            <input matInput type="text" formControlName="TK_TenDangNhap">
        </mat-form-field><br>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Mật khẩu</mat-label>
            <input matInput type="password" formControlName="TK_MatKhau">
        </mat-form-field>
        <br><br>
        <div class="text-center">
            <button mat-raised-button color="warn" (click)="submit()">Đăng nhập</button> &nbsp;
            <button mat-raised-button type="reset">Nhập lại</button>
        </div>
    </form>
</div>