<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="contact-info">
                <h2>LIÊN HỆ</h2>
                <div class="infomation">
                    <table class="table table-striped">
                        <tr>
                            <th colspan="2">Trung Tâm Điện Tử & Tin Học - Bộ phận Đào tạo</th>
                        </tr>
                        <tr>
                            <td>Địa chỉ</td>
                            <td>
                                Văn phòng đào tạo chứng chỉ - Khu II - Khoa CNTT&TT (Khu Hiệu Bộ cũ) <br>
                                Đại học Cần Thơ, Đường 3/2, P.Xuân Khánh, Q.Ninh Kiều, TP.Cần Thơ
                            </td>
                        </tr>
                        <tr>
                            <td>Điện thoại</td>
                            <td>0292 37 35 898</td>
                        </tr>
                        <tr>
                            <td>Thời gian làm việc</td>
                            <td>
                                <b>Từ thứ 2 đến thứ 6 hàng tuần</b><br>
                                * Sáng : 7h - 11h <br>
                                * Chiều : 13h - 17h
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">Giám đốc Trung tâm - Thầy Trần Minh Tân</th>
                        </tr>
                        <tr>
                            <td>Điện thoại</td>
                            <td>0982 88 90 90</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>tmtan@ctu.edu.vn</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <app-contact-form></app-contact-form>
        </div>
    </div>
</div>