<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="contact-info">
                <h2>THÔNG TIN LIÊN HỆ</h2>
                <div class="infomation">
                    <table class="table table-striped">
                        <tr>
                            <th colspan="2">Trung Tâm Điện Tử & Tin Học - Bộ phận Đào tạo</th>
                        </tr>
                        <tr>
                            <td>Địa chỉ</td>
                            <td>
                                Văn phòng đào tạo chứng chỉ - Khu II - Khoa CNTT&TT (Khu Hiệu Bộ cũ) <br>
                                Đại học Cần Thơ, Đường 3/2, P.Xuân Khánh, Q.Ninh Kiều, TP.Cần Thơ
                            </td>
                        </tr>
                        <tr>
                            <td>Điện thoại</td>
                            <td>0292 37 35 898</td>
                        </tr>
                        <tr>
                            <td>Thời gian làm việc</td>
                            <td>
                                <b>Từ thứ 2 đến thứ 6 hàng tuần</b><br>
                                * Sáng : 7h - 11h <br>
                                * Chiều : 13h - 17h
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">Giám đốc Trung tâm - Thầy Trần Minh Tân</th>
                        </tr>
                        <tr>
                            <td>Điện thoại</td>
                            <td>0982 88 90 90</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>tmtan@ctu.edu.vn</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="contact-info">
                <h2>ĐỂ LẠI THÔNG TIN LIÊN HỆ</h2>
                <hr>
                <form>
                    <mat-form-field appearance="fill" [style.width.%]=49>
                        <mat-label>Họ tên <span class="required">*</span></mat-label>
                        <input type="text" matInput>
                    </mat-form-field> &nbsp;
                    <mat-form-field appearance="fill" [style.width.%]=49>
                        <mat-label>Số điện thoại <span class="required">*</span></mat-label>
                        <input type="text" matInput>
                    </mat-form-field><br>
                    <mat-form-field appearance="fill" [style.width.%]=99.5>
                        <mat-label>Email <span class="required">*</span></mat-label>
                        <input type="email" matInput>
                    </mat-form-field><br>
                    <mat-form-field appearance="fill" [style.width.%]=99.5>
                        <mat-label>Tiêu đề <span class="required">*</span></mat-label>
                        <input type="text" matInput>
                    </mat-form-field><br>
                    <mat-form-field appearance="fill" [style.width.%]=99.5>
                        <mat-label>Nội dung <span class="required">*</span></mat-label>
                        <textarea matInput rows="10"></textarea>
                    </mat-form-field>
                    <div class="note">
                        <span class="required">* bắt buộc nhập</span> 
                    </div>
                    <div class="text-center">
                        <button mat-raised-button color="primary">Gửi</button> &nbsp;
                        <button mat-raised-button>Nhập lại</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>