.mat-toolbar {
    background-color: #ffffff;
}
.spacer {
    width: 5%;
}

.search-box {
    mat-form-field {
        margin-top: 20px;
        width: 600px;
        font-size: 14px;
    }
}
table {
    width: 100%;
    td {
        vertical-align: middle;
    }
}

.mat-toolbar {
    background-color: #ffffff;
}
