.mat-toolbar {
    background-color: #ffffff;
    height: fit-content;
}
.spacer {
    width: 5%;
}

.number {
    padding: 20px;
    color: gray;
}

.mat-tab-group {
    background-color: #ffffff;
}

.search-box {
    mat-form-field {
        margin-top: 15px;
        width: 600px;
        font-size: 14px;
    }
}
table {
    width: 100%;
    td {
        vertical-align: middle;
    }
}

.mat-toolbar {
    background-color: #ffffff;
}
