<div class="student-box">
    <button class="btnAddStudent btn btn-primary">Thêm học viên</button>
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th>Mã HV</th>
                <th>Họ tên</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>SĐT</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-justify">
                <td>B1706649</td>
                <td>Nguyễn Hùng Thuận</td>
                <td>Nam</td>
                <td>06-10-1999</td>
                <td>0333506892</td>
                <td>thuanb1706649@student.ctu.edu.vn</td>
                <td>102/42, 3/2, P.Hưng Lợi, Q.Ninh Kiều, TP.Cần Thơ</td>
                <td>
                    <button mat-mini-fab color="primary" title="Chỉnh sửa">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button mat-mini-fab color="warn" title="Xoá">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr class="text-justify">
                <td>B1706896</td>
                <td>Nguyễn Ý Vy</td>
                <td>Nữ</td>
                <td>06-01-1999</td>
                <td>0949686304</td>
                <td>vyb1706896@student.ctu.edu.vn</td>
                <td>102/42, 3/2, P.Hưng Lợi, Q.Ninh Kiều, TP.Cần Thơ</td>
                <td>
                    <button mat-mini-fab color="primary" title="Chỉnh sửa">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button mat-mini-fab color="warn" title="Xoá">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr class="text-justify">
                <td>B1706844</td>
                <td>Trần Trung Ngọc</td>
                <td>Nam</td>
                <td>18-06-1999</td>
                <td>0912286405</td>
                <td>ngocb1706844@student.ctu.edu.vn</td>
                <td>102/42, 3/2, P.Hưng Lợi, Q.Ninh Kiều, TP.Cần Thơ</td>
                <td>
                    <button mat-mini-fab color="primary" title="Chỉnh sửa">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button mat-mini-fab color="warn" title="Xoá">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>