<div class="password-box">
    <h2>{{data.title}}</h2>
    <form [formGroup]="passwordForm">
        <div class="form-group">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Mật khẩu cũ :</mat-label>
                <input type="password" formControlName="TK_MatKhauCu" matInput (blur)="logValidationErrors()">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Mật khẩu mới :</mat-label>
                <input type="password" formControlName="TK_MatKhauMoi" matInput (blur)="logValidationErrors()">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Nhập lại mật khẩu :</mat-label>
                <input type="password" formControlName="TK_MatKhauNhapLai" matInput (blur)="logValidationErrors()">
            </mat-form-field>
        </div>
        <span class="help-block" *ngIf="formErrors.TK_MatKhauCu">
            * {{ formErrors.TK_MatKhauCu }} <br>
        </span>
        <span class="help-block" *ngIf="formErrors.TK_MatKhauMoi">
            * {{ formErrors.TK_MatKhauMoi }} <br>
        </span>
        <span class="help-block" *ngIf="formErrors.TK_MatKhauNhapLai">
            * {{ formErrors.TK_MatKhauNhapLai }} <br>
        </span>
    </form>
    <div class="text-center">
        <button mat-raised-button color="primary" (click)="onSubmit()">Đổi</button>&nbsp;
        <button mat-raised-button (click)="onCancel()">Huỷ</button>
    </div>
</div>