<mat-toolbar>
    <div style="width: 50px;"></div>
    <div class="search">
        <div class="row" style="width: 100%; margin: 0; ">
            <form [formGroup]="searchForm" style=" width: 65%;">
                <div class="row" style="width: 100%; margin: 0;">
                    <mat-form-field appearance="outline" style="width: 19%;">
                        <mat-label>Từ ngày</mat-label>
                        <input matInput type="date" formControlName="FromDay" min="2000-01-01" max="2100-01-01">
                    </mat-form-field>&nbsp;
                    <mat-form-field appearance="outline" style="width: 19%;">
                        <mat-label>Đến ngày</mat-label>
                        <input matInput type="date" formControlName="ToDay" min="2000-01-01" max="2100-01-01">
                    </mat-form-field>&nbsp;
                    <mat-form-field appearance="outline" style="width: 43%;">
                        <mat-label>Lớp</mat-label>
                        <mat-select formControlName="LDT_Id">
                            <mat-option [value]="">Tất cả</mat-option>
                            <mat-option *ngFor="let dt of dsLopDaoTao" [value]="dt.LDT_Id">{{dt.LDT_Ten}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;
                    <mat-form-field appearance="outline" style="width: 17%;">
                        <mat-label>Lệ phí</mat-label>
                        <mat-select formControlName="HocPhi">
                            <mat-option [value]="">Tất cả</mat-option>
                            <mat-option [value]="'0'">Chưa đóng</mat-option>
                            <mat-option [value]="'1'">Đã đóng</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row" style="width: 100%; margin: 0;">
                    <mat-form-field appearance="outline" style="width: 18%;">
                        <mat-label>Sinh viên</mat-label>
                        <mat-select formControlName="SinhVien">
                            <mat-option [value]="">Tất cả</mat-option>
                            <mat-option [value]="'0'">Học viên tự do</mat-option>
                            <mat-option [value]="'1'">Sinh viên ĐHCT</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;
                    <mat-form-field appearance="outline" style="width: 30%;">
                        <mat-label>Chứng chỉ</mat-label>
                        <mat-select formControlName="CC_Id">
                            <mat-option [value]="">Tất cả</mat-option>
                            <mat-option *ngFor="let cc of dsChungChi" [value]="cc.CC_Id">{{cc.CC_Ten}}</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;
                    <mat-form-field appearance="outline" style="width: 20%;">
                        <mat-label>Thí sinh</mat-label>
                        <mat-select formControlName="HocVien">
                            <mat-option [value]="">Tất cả</mat-option>
                            <mat-option [value]="'1'">Học viên trung tâm</mat-option>
                            <mat-option [value]="'0'">Thí sinh tự do</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;

                    <mat-form-field appearance="outline" style="width: 14%;">
                        <mat-label>Dự thi</mat-label>
                        <mat-select formControlName="DKT_IsConfirm">
                            <mat-option [value]="">Tất cả</mat-option>
                            <mat-option [value]="'1'">Đã duyệt</mat-option>
                            <mat-option [value]="'0'">Chưa duyệt</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;
                    <mat-form-field appearance="outline" style="width: 15%;">
                        <mat-label>Kết quả thi</mat-label>
                        <mat-select formControlName="KQ_DanhGia">
                            <mat-option [value]="">Tất cả</mat-option>
                            <mat-option [value]="'1'">Đậu</mat-option>
                            <mat-option [value]="'0'">Rớt</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
            <div class="spacer" style="width: 50px;"></div>
            <table style="width: fit-content;">
                <tr>
                    <td>
                        <button mat-raised-button color="primary" (click)="onSubmit()"
                            style="width:120px; height: 50px;">
                            Tìm kiếm
                        </button>
                    </td>
                    <td>
                        <button mat-stroked-button color="primary" (click)="reset()" style="width:120px; height: 50px;">
                            Đặt lại
                        </button>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" (click)="export()" style="width:120px; height: 50px;">
                            <img src="../../../../assets/images/excel-icon.png" width="30px"> Xuất file
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef>
            STT
        </th>
        <td mat-cell *matCellDef="let i = index">
            {{ i+1 }}
        </td>
    </ng-container>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
            Mã học viên
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.HV_Id }}
        </td>
    </ng-container>
    <ng-container matColumnDef="hoten">
        <th mat-header-cell *matHeaderCellDef>
            Họ tên
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.HV_HoTen }}
        </td>
    </ng-container>
    <ng-container matColumnDef="gioitinh">
        <th mat-header-cell *matHeaderCellDef>
            Giới tính
        </th>
        <td mat-cell *matCellDef="let element">
            {{ (element.HV_GioiTinh==1)? 'Nam':'Nữ' }}
        </td>
    </ng-container>
    <ng-container matColumnDef="noisinh">
        <th mat-header-cell *matHeaderCellDef>
            Nơi sinh
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.HV_NoiSinh }}
        </td>
    </ng-container>
    <ng-container matColumnDef="mssv">
        <th mat-header-cell *matHeaderCellDef>
            MSSV
        </th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="element.HV_Mssv !='0'">{{ element.HV_Mssv }}</span>
            <span *ngIf="element.HV_Mssv =='0'">0</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="lophoc">
        <th mat-header-cell *matHeaderCellDef>
            Lớp học
        </th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="element.LH_Id">{{element.LDT_Ten}}</span>
            <span *ngIf="!element.LH_Id">Thí sinh tự do</span>
        </td>
    </ng-container>
    <ng-container matColumnDef="chungchi">
        <th mat-header-cell *matHeaderCellDef>
            Chứng chỉ dự thi
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.CC_Ten }}
        </td>
    </ng-container>
    <ng-container matColumnDef="lythuyet">
        <th mat-header-cell *matHeaderCellDef>
            Lý thuyết
        </th>
        <td mat-cell *matCellDef="let element">
            {{ (element.KQ_LyThuyet) }}
        </td>
    </ng-container>
    <ng-container matColumnDef="thuchanh">
        <th mat-header-cell *matHeaderCellDef>
            Thực hành
        </th>
        <td mat-cell *matCellDef="let element">
            {{ (element.KQ_ThucHanh) }}
        </td>
    </ng-container>
    <ng-container matColumnDef="ketquathi">
        <th mat-header-cell *matHeaderCellDef>
            Kết quả thi
        </th>
        <td mat-cell *matCellDef="let element" style="width: 3%; text-align: right;">
            <span *ngIf="!element.KQ_DanhGia"></span>
            <span *ngIf="element.KQ_DanhGia == 1">Đậu</span>
            <span *ngIf="element.KQ_DanhGia==0">Rớt</span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>