.form-group {
    margin: 0;
}

.password-box {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.password {
    margin-top: 10%;
    height: 400px;
}

.name {
    background-color: #192a56;
    color: #ffffff;
    font-size: 18px;
    padding: 15px;
}

.spacer {
    flex: 1 1 auto;
}

form {
    padding: 20px;
    width: 40%;
    margin-bottom: 20px;
}

.help-block {
    font-size: 13px;
    color: red;
    font-style: italic;
}
