<mat-nav-list>
    <div class="name py-3 text-center">
        <img src="./../../../assets/images/logo.png" alt="Logo"><br>
        <div class="center-name text-center">
            Trung Tâm Điện Tử Tin Học
        </div>
    </div>
    <mat-divider></mat-divider>
    <span matSubheader class="mt-2">APPLICATION</span>

    <a mat-list-item routerLink="trang-chu" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Trang chủ
    </a>
    <a mat-list-item routerLink="bai-viet" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon> Bài viết
    </a>
    <a mat-list-item routerLink="cap-bang" routerLinkActive="list-item-active">
        <mat-icon>wb_sunny</mat-icon> Cấp bằng
    </a>
    <!-- <a mat-list-item routerLink="danh-muc-chuc-nang" routerLinkActive="list-item-active">
        <mat-icon>star_border</mat-icon> Danh mục chức năng
    </a> -->
    <a mat-list-item routerLink="danh-muc-chung-chi" routerLinkActive="list-item-active">
        <mat-icon>assignment</mat-icon> Danh mục chứng chỉ
    </a>
    <a mat-list-item routerLink="giao-vien" routerLinkActive="list-item-active">
        <mat-icon>person_outline</mat-icon> Giáo viên
    </a>
    <a mat-list-item routerLink="hoc-vien" routerLinkActive="list-item-active">
        <mat-icon>account_box</mat-icon> Học viên
    </a>
    <a mat-list-item routerLink="khoa-thi" routerLinkActive="list-item-active">
        <mat-icon>list_alt</mat-icon> Khoá thi
    </a>
    <a mat-list-item routerLink="lien-he" routerLinkActive="list-item-active">
        <mat-icon>smartphone</mat-icon> Liên hệ
    </a>
    <a mat-list-item routerLink="nhan-vien" routerLinkActive="list-item-active">
        <mat-icon>account_circle</mat-icon> Nhân viên
    </a>
    <a mat-list-item routerLink="thong-ke" routerLinkActive="list-item-active">
        <mat-icon>trending_up</mat-icon> Thống kê
    </a>
</mat-nav-list>