<mat-nav-list>
    <div class="name py-3 text-center">
        <img src="./../../../assets/images/logo.png" alt="Logo"><br>
        <div class="center-name text-center">
            Trung Tâm Điện Tử Tin Học
        </div>
    </div>
    <mat-divider></mat-divider>
    <span matSubheader class="mt-2">APPLICATION</span>

    <a mat-list-item routerLink="home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Trang chủ
    </a>
    <a mat-list-item routerLink="post" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon> Bài viết
    </a>
    <a mat-list-item routerLink="license" routerLinkActive="list-item-active">
        <mat-icon>wb_sunny</mat-icon> Cấp bằng
    </a>
    <a mat-list-item routerLink="function" routerLinkActive="list-item-active">
        <mat-icon>star_border</mat-icon> Danh mục chức năng
    </a>
    <a mat-list-item routerLink="certificate" routerLinkActive="list-item-active">
        <mat-icon>assignment</mat-icon> Danh mục chứng chỉ
    </a>
    <a mat-list-item routerLink="exam-committee" routerLinkActive="list-item-active">
        <mat-icon>supervisor_account</mat-icon> Danh mục hội đồng thi
    </a>
    <a mat-list-item routerLink="educate" routerLinkActive="list-item-active">
        <mat-icon>library_books</mat-icon> Chương trình đào tạo
    </a>
    <a mat-list-item routerLink="student" routerLinkActive="list-item-active">
        <mat-icon>account_box</mat-icon> Học viên
    </a>
    <a mat-list-item routerLink="exam" routerLinkActive="list-item-active">
        <mat-icon>list_alt</mat-icon> Khoá thi
    </a>
    <a mat-list-item routerLink="contact" routerLinkActive="list-item-active">
        <mat-icon>smartphone</mat-icon> Liên hệ
    </a>
    <a mat-list-item routerLink="taikhoan" routerLinkActive="list-item-active">
        <mat-icon>account_circle</mat-icon> Quản lý tài Khoản
    </a>
    <a mat-list-item routerLink="statistical" routerLinkActive="list-item-active">
        <mat-icon>trending_up</mat-icon> Thống kê
    </a>
</mat-nav-list>