<div class="class-box">
    <h2>{{ data.title }}</h2>
    <form [formGroup]="classForm" autocomplete="off">
        <div class="form-group">
            <mat-form-field appearance="outline" style="width: 78%;">
                <mat-label>Lớp</mat-label>
                <mat-select formControlName="LDT_Id" (closed)="logValidationErrors()">
                    <mat-option *ngFor="let dt of dslopDT" [value]="dt.LDT_Id">
                        {{ dt.LDT_Ten }}
                    </mat-option>
                </mat-select>
                <span class="help-block" *ngIf="formErrors.LDT_Id">
                    * {{ formErrors.LDT_Id }} <br>
                </span>
            </mat-form-field>&nbsp;
            <mat-form-field appearance="outline" style="width: 20%;">
                <mat-label>Sỉ số</mat-label>
                <input type="number" matInput formControlName="LH_SiSo" (blur)="logValidationErrors()">
                <span class="help-block" *ngIf="formErrors.LH_SiSo">
                    * {{ formErrors.LH_SiSo }} <br>
                </span>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" style="width: 37%;">
                <mat-label>Thời gian học</mat-label>
                <mat-select formControlName="TG_Id" (closed)="logValidationErrors()">
                    <mat-option *ngFor="let time of times" [value]="time.TG_Id">
                        {{ time.TG_Ten }}
                    </mat-option>
                </mat-select>
                <span class="help-block" *ngIf="formErrors.TG_Id">
                    * {{ formErrors.TG_Id }} <br>
                </span>
            </mat-form-field>&nbsp;
            <mat-form-field appearance="outline" style="width: 25%;">
                <mat-label>Phòng học</mat-label>
                <mat-select formControlName="PH_Id" (closed)="logValidationErrors()">
                    <mat-option *ngFor="let ph of dsPH" [value]="ph.PH_Id">
                        {{ ph.PH_Ten }}
                    </mat-option>
                </mat-select>
                <span class="help-block" *ngIf="formErrors.PH_Id">
                    * {{ formErrors.PH_Id }} <br>
                </span>
            </mat-form-field>&nbsp;
            <mat-form-field appearance="outline" style="width: 35%;">
                <mat-label>Ngày khai giảng</mat-label>
                <input type="date" matInput formControlName="LH_NgayKhaiGiang" (blur)="logValidationErrors()">
                <span class="help-block" *ngIf="formErrors.LH_NgayKhaiGiang">
                    * {{ formErrors.LH_NgayKhaiGiang }} <br>
                </span>
            </mat-form-field>
        </div>
    </form>
    <div class="text-center">
        <button *ngIf="!isUpdate" mat-raised-button color="primary" (click)="onSubmit()">Lưu</button>
        <button *ngIf="isUpdate" mat-raised-button color="primary" (click)="onSubmit()">Cập nhật</button>&nbsp;
        <button mat-raised-button (click)="cancelClick()">Huỷ</button>
    </div>
</div>