.search-box {
    mat-form-field {
        margin-top: 15px;
        width: 600px;
        font-size: 14px;
    }
}

.mat-toolbar {
    height: fit-content;
    background-color: #ffffff;
}

.spacer {
    width: 5%;
}

.mat-tab-group {
    background-color: #ffffff;
}

table {
    width: 100%;
    td {
        vertical-align: middle;
    }
}
