.bill-box{
    font-size: 16px;
}

.content{
    width: 800px;
    background-color: #dfe6e9;
    padding: 10px;
}

.body{
    padding: 20px;
    div{
        margin: 5px;
    }
}

.bill-content{
    padding: 5px;
}