.bill-box{
    font-size: 16px;
}

.content{
    width: 800px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid;
}

.body{
    padding: 10px;
    div{
        margin: 5px;
    }
    table{
        width: 100%;
        th{
            padding: 5px;
            width: 20%;
        }
        td{
            padding: 5px;
        }
    }
}

.bill-content{
    padding: 5px;
}