mat-nav-list {
    background-color: #ffffff;
}

.mat-list-item {
    color: #646464 !important;
    font-size: 0.9rem;
    height: 44px !important;
    margin-bottom: 4px;
}
.name {
    background-color: #30336b;
    color: #ffffff;
    font-size: 18px;
    padding-left: 20px;
}
