.container {
    background-color: #ffffff;
    padding: 10px;
}

.name {
    background-color: #30336b;
    padding: 20px;
    color: #ffffff;
}
.post-detail-box{
    padding-left: 60px;
    height: 480px;
}